# Ignore Python cache
__pycache__/

# Ignore virtual environment
venv/
.env

# Ignore streamlit
.streamlit/
.toml

.devcontainer/

#Ignore sounds
*.wav
*.mp3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/
